@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=IBM+Plex+Sans:wght@600&family=Lobster&family=Oswald:wght@500&family=Raleway&family=Roboto:wght@400;900&display=swap');

/* HEADER */
nav {
    background-color: rgba(0, 0, 0, 0.85);
}

.navbar-color li {
    margin-left: 3.5%;
}

.navbar-color li>a {
    color: rgb(255, 255, 255) !important;
}

/* MAIN */

main {
    background: url('../img/fondo-login.png') no-repeat left center/cover;
}

.div-contactanos {
    background-color: rgba(179, 179, 179, 0.726);
}

.contactanos{
    background-color:  rgb(0, 0, 0); 
    border-radius: 4px;
    margin-top: -75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    color: white;
    font-size: 30px;
    box-shadow: 10px 10px 10px rgb(102, 100, 100);
}

.btn-contacto{
    background-color: #faee93;
    border: 0;
    color: black;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}
.btn-contacto:hover {
    background-color: black;
    color:  #faee93;
    transition: .8s;}
.mapa{
    width: 100%;
    border-radius: 5px; 
}
.contacto-iconos{
    color:  #faee93;
    padding: 2%;
   
}
