@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=IBM+Plex+Sans:wght@600&family=Lobster&family=Oswald:wght@500&family=Raleway&family=Roboto:wght@400;900&display=swap');

/* HEADER */


/* MAIN */

main {
    background: url('../img/fondo-login.png') no-repeat left center/cover;
    padding-top: 10%;
    padding-bottom: 5%;
}

@media (min-width: 768px) {
    main {
        padding-top: 5%;
        padding-bottom: 2%;
    }
}

@media (min-width: 1200px) {
    main {
        padding-top: 4%;
        padding-bottom: 2%;
    }
}

.titulo-contacto {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.div-contactanos {
    background-color: rgba(179, 179, 179, 0.726);
    width: 95%;
}

.div-input input,
.div-textarea textarea {
    border: 1px solid black;
    border-left: 0px !important;
    border-radius: 0% !important;
}

.div-input>div {
    width: 50px;
    height: 46px;
    border: 1px solid black;
    background-color: #faee9e;
}

.div-textarea>div {
    width: 50px;
    height: auto;
    border: 1px solid black;
    background-color: #faee9e;

}

.div-input i,
.div-textarea i {
    font-size: 15px;
    /* color: black; */
}

.div-input>div:hover, .div-textarea>div:hover {
    color: #faee9e;
    background-color: black;
}

.contactanos {
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    margin-top: -75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    color: white;
    font-size: 30px;
    box-shadow: 10px 10px 10px rgb(102, 100, 100);
}

form button {
    border-radius: 0% !important;
    border: 1px solid black !important;
}

form button:hover {
    color: #faee9e;
    background-color: black;
}

.btn-contacto {
    background-color: #faee93;
    border: 0;
    color: black;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.btn-contacto:hover {
    background-color: black;
    color: #faee93;
    transition: .8s;
}

.mapa {
    width: 100%;
    border-radius: 5px;
}