/* 
ACERCA DE NOSOTROS */

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.quienes-somos{
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
   
}

.subtitulo-somos{
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-size: 20px;
}
.imagen-card{
    margin-top: -40px;
    
}
.card-nosotros {
    background-color: black;
    border: 0;
    border-radius: 0px;
    box-shadow: 5px 5px 5px rgb(102, 100, 100);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    color: white;
    
}
.card-nosotros:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px rgb(102, 100, 100);
   

}
/* .card-nosotros:hover .quienes-somos :hover{
    color:rgb(102, 100, 100);
   
} */

main {
    background: url('../img/fondo-login.png') no-repeat center center/cover;
}

@media (max-width: 991px) {
    main {
        background-position: -200px;
    }
}

.equipo {
    padding-top: 2rem;
}