main {
    background: url("/img/fondo-login.png") no-repeat center center/cover;
}

.div-administrador>div {
    width: 550px;
    background-color: rgba(179, 179, 179, 0.726);
    border-radius: 4px;
}

@media (max-width: 580px) {
    .div-administrador>div{
        width: 95%;
    }
    .btn-admin-nuevo {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 263px) {
    .div-administrador>div{
        align-items: center;
    }
}
@media (max-width: 230px) {
    .div-administrador>div{
        width: 80%;
    }
    .table-color td, .table-color th {
        font-size: 70% !important;
    }
    .btn-admin-nuevo>button {
        width: 50% ;
        font-size:70%;
    }
    
}

.titulo-admin {
    z-index: 1;
    width: 96%;
    margin-top: -15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgb(29, 29, 29);
    color: white;
    box-shadow: 10px 10px 10px rgb(37, 37, 37);
}

.btn-admin-nuevo>button {
    margin: 0px;
    margin-left: 3%;
    border-radius: 0px;
    padding: 10px;
    background-color: #faee9e;
    color: black;
    cursor: pointer;
    font-weight:600;
    border: 1px solid black;
}
.btn-admin-nuevo>button:hover {
    color: #faee9e;
    background-color: black;
}

.table-color {
    background-color: #d8d8d8;
}

table>tbody a {
    color: black;
}

.td-col-opciones {
    padding-left: 20% !important;
    padding-right: 20% !important;
    display: flex;
    justify-content: space-between;
}